body {
    min-height: 2000px;
    background-image: url(img/bg-image.jpg);
    background-repeat: no-repeat;
}

.jumbotron {
    padding: 7rem 4rem;
    min-height: 739px;
    background-image: url(img/bg-header.jpg);
    background-size: cover;
    background-position: 0 -280px;
    background-attachment: fixed;
}

.header {
    margin-top: 4rem;
    color: white;
}

.header h1, h2 {
    word-spacing: 5px;
    font-size: 60px;
}

.header p {
    width: 700px;
}

.about {
    padding-top: 15rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 150px;
}

.about h2 {
    float: left;
    font-size: 40px;
    margin-right: 30px;
}

.container .p1 {
    bottom: 90px;
    position: relative;
}


.project h1 {
    margin-top: 120px;
    margin-bottom: 20px;
}


